@use './partials/variables' as *;
@import '~bootstrap/scss/bootstrap';
@import "@fortawesome/fontawesome-free/css/all.css";
@import 'partials/admin/style.scss';


tbody img.restaurant-img {
    width: 200px;
}

